
@{ Layout = null; }

<html>
<head>
    <title>Beamy Music-Login</title>
    <link rel="icon" type="image/jpg" href="~/Img/play.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        strong {
            color: rgba(255, 0, 0, 0.72);
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h2><img src="~/Img/Logotipo.png" style="width:100px" />Beamy Music</h2>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">
                <form action="/Autor/InSesion" method="post">

                    <span>@Html.ValidationMessage("InSesion")</span>
                    <label>Usuario</label>
                    <input class="form-control" name="username" />

                    <br />
                    <label>Contraseña</label>
                    <input class="form-control" name="Password" type="password"  />

                    <br />

                    <br />
                    <button class="btn btn-success">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>